__pycache__
.DS_Store
rollouts
*.gb
*.gba
*.pt
*.ram
.ipynb_checkpoints
raw_documentation
*.pem
_autoplay.mp4
session_*
.env
PokemonRed.gb.state
venv*
.python-version
src/runs/**/*
src/vision_model/dataset_v0.v1i.yolov11/*
